.btn {
  font-size: 16px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-color: #69140E;
  border-radius: 6px;
  padding: 15px 20px;
  text-decoration: none;
  &:hover{
    color: white;
    opacity: 1.0;
  }
}
